@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

a { color: #7c3aed; }
button { cursor: pointer; }
